<!--   HEADER   -->
<div class="containter-fluid bg-white p-2">
  <h1 class="header font text-center">H Y P E f e e d</h1>
</div>
<p class="font info d-block text-center border-top m-2 pl-1 pr-1">Bringing you the latest news from <span class="italics">Adidas</span>, <span class="italics">Bape</span>, <span class="italics">END. Clothing</span>, <span class="italics">Kith</span>, <span class="italics">Nike</span>, and <span class="italics">The Hundreds</span></p>
<br>
<br>
<!--   BODY   -->
<div class="container-fluid">
  <app-feed></app-feed>
</div>

<router-outlet></router-outlet>
