@media only screen and (max-width: 480px){
    .header{
        font-size: 2.3em;
    }
    .info{
        font-size: .6em;
    }
}
@media only screen and (min-width: 481px) and (max-width: 1023px){
    .header{
        font-size: 2.9em;
    }
    .info{
        font-size: .9em;
    }
}
@media only screen and (min-width: 1024px){
    .header{
        font-size: 3.8em;
    }
    .info{
        font-size: 1.1em;
    }
}


.header{
    font-weight:200; 
    color: goldenrod;
}
.italics {
    font-style: italic;
}
.info {
    background-color: goldenrod;
    font-weight:600;
}
.font{
    font-family: 'Work Sans', sans-serif;
    
}